:root {
    --dark-blue: #31455a;
    --light-blue: #5e6f82;
    --opacity-dark-blue: #5b748f8a;

    --menu-height: 45px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--dark-blue);
    font-family: sans-serif;
}

.top-menu {
    background: #fff;
    width: 100%;
    height: var(--menu-height);
    display: flex;
    align-items: center;
}

.top-menu svg {
    padding: 0 15px;
    border-right: 1px solid var(--opacity-dark-blue);
    height: 100%;
}

.lateral-menu {
    background: #fff;
    width: 250px;
    height: 100vh;
}

.lateral-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.lateral-menu ul li {
    color: var(--dark-blue);
    height: 65px;
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid var(--opacity-dark-blue) ;
}

.lateral-menu ul li a {
    text-decoration: none;
}

.lateral-menu ul li svg {
    margin-right: 15px;
}
